<aside class="pure-u-md-4-24 pure-u-sm-4-24 pure-u-xs-2-24">
        <h1 id="myName">Isiah Lloyd</h1>
        <img src="https://avatars3.githubusercontent.com/u/885544?v=3&s=460" alt="A photo of Isiah Lloyd" class="pure-img half circle">
        <p id="myTitle">Javascript Developer</p>
        <hr>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="https://docs.google.com/document/d/e/2PACX-1vQpbVpwH5chTli95_5VeznQfg9b7JhsylJGpk8sqoxr8YIkfQqrL8jktdlPiLtPBGhFdyVklVg_sRM6/pub" target="_blank" class="pure-menu-link"><i class="fa fa-file-pdf-o" aria-hidden="true" style="padding-right: 10px;"></i><span> Download Resume</span></a></li>
            <li class="pure-menu-item"><a href="mailto:lloyd@isiah.me" target="_blank" class="pure-menu-link"><i class="fa fa-envelope-o" aria-hidden="true" style="padding-right: 10px;"></i> <span>Email me</span></a></li>
            <li class="pure-menu-item"><a href="https://github.com/isiah-lloyd" target="_blank" class="pure-menu-link"><i class="fa fa-github" aria-hidden="true" style="padding-right: 10px;"></i> <span>Github</span></a></li>
            <li class="pure-menu-item"><a href="https://www.linkedin.com/in/isiah-lloyd/" target="_blank" class="pure-menu-link"><i class="fa fa-linkedin" aria-hidden="true" style="padding-right: 10px;"></i> <span>LinkedIn</span></a></li>

        </ul>
</aside>
